Bonjour {{ user.firstname }} !
Quelqu'un a demandé la réinitialisation de votre mot de passe. Vous pouvez le faire en suivant ce lien.

Suivez ce lien pour réinitialiser votre mot de passe: {{ link }}

Si vous n'êtes pas à l'origine de la création de ce compte, ignorez cet email, le compte sera automatiquement supprimé
Le lien est valable 30 min
